<div class="banner">
  <div class="banner-content text-center">
    <h1>Trapieer®</h1>
    <p>As melhores sementes para cervejeiros artesanais</p>
  </div>

</div>

<p><%= link_to 'create user', new_user_session_path%></p>
<p><%= link_to 'create product', new_product_path%></p>
