<div class="banner">
  <div class="banner-content text-center">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>

<p><%= link_to 'create user', new_user_path%></p>
<p><%= link_to 'create product', new_user_product_path%></p>
