<div class="container">
  <h6><%= link_to 'Home', root_path %> / <%= link_to 'Categorias', root_path %> / <strong> Services </strong></h6>
  <div class="row">
    <div class="row">
      <div class="card-service">
        <div class="card-service-top">
          <div class="card-service-top-image" style="background-image: url('https://source.unsplash.com/featured/?car,ride')">
              <i class="fas fa-heart position-icon"></i>
          </div>
          <div class="card-service-info">
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p><strong>Fancy service</strong></p>
            <span>It's the best service, you should buy it!</span>
            <a href="" class="btn-green">£200</a>
          </div>
        </div>

        <img class="card-service-middle" src="https://source.unsplash.com/featured/?engine,mechanic" alt="">

        <div class="card-service-bottom">
          <img src="https://source.unsplash.com/featured/?mechanic" alt="" class="">
          <img src="https://source.unsplash.com/featured/?harley" alt="" class="">
          <img src="https://source.unsplash.com/featured/?car,ride" alt="" class="">
        </div>
      </div>
    </div>
  </div>
</div>
