.content {
  display: flex;
  justify-content: space-around;
}

.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.3);
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

#card-base {
  background: #FFFFFF;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: -6px 6px 10px 0 rgba(0, 0, 0, 0.37), 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

.card_category {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 40px;
  margin-bottom: 35px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.3);
}


