h1 {
  color: #f7b633;
  text-align: center;
}

#sub-cadastro {
  color:grey;
  font-weight: lighter;
  text-align: center;
}

.form-inputs {
  color: #5c636e;
  font-size: 15px;
}

.form-actions {
  text-align: center;
}
