<div class="container">
  <div class="row">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" id="anchor" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(product.image);">
          <div class="card-description">
            <h2><%= product.name %></h2>
          </div>
          <%= link_to "", product_path(product.id), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
