<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: url(<% @product.image %>);">
      </div>
    </div>

  <div class="col-xs-12 col-sm-6">
    <div class="product-components">
      <h2><%=@product.name%></h2>
      <p>Infos</p>
    </div>
  </div>

  </div>
</div>



<div class="container">
  <div class="row">
    <p><%= link_to 'Back', root_path %></p>
  </div>
</div>

